*{
    
    box-sizing: border-box;
    
}

body{
    margin-top: 10vh;
    /* background-color: green; */
        background: linear-gradient(90deg, rgba(11,195,48,1) 2%, rgba(19,223,186,1) 44%, rgba(19,198,223,1) 64%, rgba(0,168,255,1) 100%);

}

#container{
    display: flex;
    width: 60vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background: #1659e7;
    border-radius: 10px;
    text-align: center;
}
h1{
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}
.score-area{
    width: 155px;
    height: 120px;
    background: #080001;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    color: #F94F6D;
}

.btn-styles{
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
background: #111827;
;


text-align: center;

color: #9AABD8;
}
.btn-styles:hover{
    border: 2px solid #111827;
    background: #9AABD8;
    color: #111827;
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48;
  color:#9AABD8;
  border: #9AABD8 2px solid;
  padding: 10px;
  border-radius: 5px;
  background-color: #111827;;
}

.material-symbols-outlined:hover{
    background: #9AABD8;
    color: #111827;
    cursor: pointer; 
}

h3{
    color: greenyellow;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    #container{
       
        width: 80vw;
        height: 60vh;
    }

    .score-area{
        width: 110px;
        height: 110px;
        font-size: 50px;
    }
    h1{
      
        font-size: 25px;
  }
  .btn-styles{
    width: 30px;
    height: 30px;
  }
}